@import 'setup';

// potential colors:
// #EAE7DC - base color
// #D8C3A5 - primary color
// #8E8D8A - secondary color
// #E98074 - accent color
// #E85A4F - secondary accent color

//potential fonts:
//font-family: 'Abel', sans-serif;
//font-family: 'Ubuntu', sans-serif;


// Open Sans Condensed & Dosis
// Abel & Ubuntu
// Poppins
// Karla & Lato
// Oswald & Droid Sans
// line-height - good default is 1.6
// icons can be found at thenounproject.com
// https://codepen.io/electerious/pen/qPjbGm -- fancy button

.home {
    background: #EAE7DC;
	padding: 120px;
	height: 100vh;
}

img {
	max-width: 100%;
	display: block;
}

.imgLogo {
	width: 30%;
	margin: 0 auto;

}

.card {
    background: #D8C3A5;
	width: 70%;
	max-height: 70vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

h1 {
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	width: 100%;
	font-family: 'Abel', sans-serif;
	font-size: 55px;
}

h2 {
	padding: 100px 0;
	font-family: 'Ubuntu', sans-serif;

}

.choices {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.choice1,
.choice2,
.choice3,
.choice4 {
	width: 50%;
	padding-bottom: 20px;
}

.choice input[type="radio"] {
    opacity: 0;
}

.choice label {
	content: "";
	position: relative;
	display: block;
	position: relative;
	border: 1px solid #E85A4F;
	padding: 10px 5px;
	margin: 0 15px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	background: #E98074;
	text-transform: uppercase;

	transform-style: flat;
	transition: all 250ms ease-out;

	&:before,
  	&:after {
    	content: "";
    	position: absolute;
    	z-index: -2;
    	transition: all 250ms ease-out;
	}

	border: 1px solid transparent;
	&:before,
	&:after {
		bottom: 15px;
     width: 50%;
     height: 20%;
     max-width: 300px;
     max-height: 100px;
    
     box-shadow: 0 15px 12px rgba(31, 31, 31, 0.7);
	}
  	&:before {
    left: 10px;
    transform: rotate(-3deg);
	}
  	&:after {
    right: 10px;
    transform: rotate(3deg);
	}
  
  	&:hover {
    border-color: #EAE7DC;
    
    &:before,
    &:after {
      	transition: box-shadow 600ms ease-out, left 200ms, right 200ms;
	    box-shadow: 0 20px 20px rgba(31, 31, 31, 0.5);
    }
    &:before {
    	left: 5px;
    }
    &:after {
    	right: 5px;
    }
  }
}
	  
.choice input[type="radio"]:focus + label {
    outline: #8E8D8A auto 5px;
}

// button from code pen by Tobias Reich
.button {
	
	--offset: 10px;
	--border-size: 2px;
	
	display: block;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	width: 30%;
    position: relative;
    padding: 1.5em 3em;
    margin: 30px 275px 60px;
	appearance: none;
	border: 0;
	background: transparent;
	color: #E85A4F;
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background .8s ease;
	
	&:hover {
		background: rgba(100, 0, 0, .03);
	}
	
	&__horizontal,
	&__vertical {
		position: absolute;
		top: var(--horizontal-offset, 0);
		right: var(--vertical-offset, 0);
		bottom: var(--horizontal-offset, 0);
		left: var(--vertical-offset, 0);
		transition: transform .8s ease;
		will-change: transform;
		
		&::before {
			content: '';
			position: absolute;
			border: inherit;
		}
	}
	
	&__horizontal {
		--vertical-offset: calc(var(--offset) * -1);
		border-top: var(--border-size) solid currentcolor;
		border-bottom: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--vertical-offset) - var(--border-size));
			bottom: calc(var(--vertical-offset) - var(--border-size));
			left: calc(var(--vertical-offset) * -1);
			right: calc(var(--vertical-offset) * -1);
		}
	}
	
	&:hover &__horizontal {
		transform: scaleX(0);
	}
	
	&__vertical {
		--horizontal-offset: calc(var(--offset) * -1);
		border-left: var(--border-size) solid currentcolor;
		border-right: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--horizontal-offset) * -1);
			bottom: calc(var(--horizontal-offset) * -1);
			left: calc(var(--horizontal-offset) - var(--border-size));
			right: calc(var(--horizontal-offset) - var(--border-size));
		}
	}
	
	&:hover &__vertical {
		transform: scaleY(0);
	}	
}